@import '../../../styles/variables.scss';

.blob {
    height: 100px;
    width: 100px;
    background-color: $white;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.637), -10px 0 80px;
}
